
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(29, 29, 29);
    color: white;
}

main {
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar content content"
        "sidebar content content";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 200px;
    grid-column-gap: 5px;
    padding: 100px;

    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.content {
    flex-basis: 70%;
}

/* Panes */
#left-pane {
    grid-area: sidebar;
    display: grid;
    grid-template-areas:
        "image"
        "space"
        "delete";
    grid-template-columns: 100%;
    grid-template-rows: 150px 500px 30px;
    border-right: #f1f1f1a1 solid 2px;
}

#image-holder {
    grid: image;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    border-radius: 180px;
    overflow: hidden;
    border: #f1f1f1a1 solid 2px;
}

#image-holder > img {
    width: 150px;
    height: 150px;
}

#image-holder > img:hover {
    transition: 0.25s;
    background-color: rgba(53, 53, 53, 0.897);
}

#top-pane {
    grid-area: header;
    border-bottom: #f1f1f1a1 solid 2px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bottom-pane {
    grid-area: content;
}

#user-details {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35%;
    height: 90%;
    color: rgb(255, 255, 255);
}

#user-details > h3 {
    text-align: justify;
    margin-left: 10%;
    line-height: 100px;
}
