:root {
  --delete-button-border: rgba(221, 80, 80, 0.9);
  --delete-button-hover-border: rgba(124, 40, 40, 0.9);
  --section-borders: #f1f1f1a1;
}

@font-face {
  font-family: "Fira Code";
  src: url("eot/FiraCode-Regular.eot");
  src: url("fonts/eot/FiraCode-Regular.eot") format("embedded-opentype"),
    url("fonts/woff2/FiraCode-Regular.woff2") format("woff2"),
    url("fonts/woff/FiraCode-Regular.woff") format("woff"),
    url("fonts/ttf/FiraCode-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: medium;
}

body,
html {
  transition: ease-in 0.3s;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", "monospace";
  background-color: rgb(29, 29, 29);
  color: white;
}

main {
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar content content"
    "sidebar content content";
  grid-template-rows: 200px 1fr;
  grid-template-columns: 200px;
  grid-column-gap: 5px;
  padding: 100px;

  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Panes */
#left-pane {
  grid-area: sidebar;
  display: grid;
  grid-template-areas:
    "image"
    "spacer"
    "delete";
  grid-template-columns: 100%;
  grid-template-rows: 150px 70% 50px;
  border-right: var(--section-borders) solid 2px;
}

#image-holder {
  transition: 0.3s;
  grid: image;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  border-radius: 180px;
  overflow: hidden;
  border: var(--section-borders) solid 2px;
}

#spacer {
  grid: spacer;
}

#delete {
  grid: delete;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 180px;
}

#delete > a > button,
#delete > form > a > button {
  transition: 0.3s;
  width: 150px;
  height: 40px;
  margin: 4px;

  border-radius: 60px;
  font-weight: 300;
  background: none;
  border: 3px solid var(--delete-button-border);
  color: #ebebeb;
  font-size: 12px;
}

#delete > a > button:hover,
#delete > form > a > button:hover {
  transition: 0.3s;
  width: 160px;
  height: 50px;
  border: 3px solid var(--delete-button-hover-border);
  cursor: pointer;
  background-color: var(--delete-button-hover-border);
}

#image-holder > img {
  transition: 0.3s;
  width: 150px;
  height: 150px;
}

#image-holder:hover {
  transition: 0.3s;
  background-color: rgb(53, 53, 53);
  border-color: rgb(238, 238, 238);
}

#top-pane {
  grid-area: header;
  width: 100%;
  border-bottom: var(--section-borders) solid 2px;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#bottom-pane {
  grid-area: content;
}

#user-details {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 90%;
  color: rgb(255, 255, 255);
}

#user-details > h3 {
  text-align: justify;
  margin-left: 10%;
  line-height: 100px;
}

/* Adding Item Modal Box */

.modalDialog {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  display: block;
  pointer-events: auto;
}

.modalDialog > div {
  width: 30%;
  position: relative;
  display: block;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 2px;
  background: #fff;
  background: var(--header-BG-color);
}

.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: var(--button-BG-color);
  transition: ease-in 0.2s;
}
