/*
main.css
Created by: Callum-James Smith (cs18804)
*/

:root /* The variables */
{
    --background-color: #1F2229;
    --header-BG-color:  #404a67;
    --logo-BG-color: #404a67;
    --search-BG-color: rgba(24, 24, 24, 0.349);
    --box-BG-color: #ebebeb00;
    --button-BG-color: rgb(3, 113, 113);
    --task-BG-color: #ebebeb;

    --box-width: 31%;
    --box-height: 90%;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--background-color);
    color: white;
}

/* LOGIN PAGE */

div.wrapper /* Wrapper for index.php */
{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    background: var(--background-color);

    position: relative;
    top: 50%;
    transform: translateY(50%);

    margin: 0 auto;
    color: white;
}

div.signupWrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60vh;
    background: var(--background-color);

    position: relative;
    top: 50%;
    transform: translateY(25%);

    margin: 0 auto;
    color: white;
}

@media screen and (max-width: 635px) /* when the screen reaches less than 635px */
{

    div.wrapper {
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
    div.signupWrapper {
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
}

div.signupBox {
    width: 100%;
    height: 100%;

    text-align: center;

    flex-basis: 80%;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
}

div.signupBox form h1 {
    width: 100%;
    height: 20%;
    border: none;
}

div.signupBox form input {
    width: 100%;
    height: auto;
    font-size: 3em;
    color: white;

    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    border-color: white;

    position: relative;
    top: 50%;
    transform: translateY(50%);

    text-align: center;

}

div.signupBox form input:focus {
    outline: none;
}

div.loginBox {
    width: 100%;
    height: 80%;

    text-align: center;

    flex-basis: 80%;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
}

div.loginBox form h1 {
    width: 100%;
    height: 20%;
    border: none;
}

div.loginBox form input {
    width: 100%;
    height: auto;
    font-size: 3em;
    color: white;

    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    border-color: white;

    position: relative;
    top: 50%;
    transform: translateY(50%);

    text-align: center;

}

div.loginBox form input:focus {
    outline: none;
}

div.formButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 40px;

    width: 100%;
    height: 20%;
}

div.signin {
    width: 100%;
    flex-basis: 50%;
    background: var(--background-color);
    color: white;
}

div.signup {
    width: 100%;
    height: 100%;
    flex-basis: 100%;
    background: var(--background-color);
    color: white;
}

#signin-button {

    width: 100%;
    background: var(--background-color);
    height: 80px;
    margin: 0 none;
    padding: 0 none;
    border: none;
    color: white;

    text-align: center;
}
#signin-button:hover {
    background: rgba(0, 0, 0, 0.486);
    cursor: pointer;
}

#signup-button:hover {
    background: rgba(0, 0, 0, 0.486);
    cursor: pointer;
}

#signup-button-1:hover {
    background: rgba(0, 0, 0, 0.486);
    cursor: pointer;
}

#signup-button {

    width: 100%;
    background: var(--background-color);
    height: 80px;
    margin: 0 none;
    padding: 0 none;
    border: none;
    color: white;

    text-align: center;
}

#signup-button-1 {

    width: 100%;
    background: var(--background-color);
    height: 80px;
    margin: 0 none;
    padding: 0 none;
    border: none;
    color: white;

    text-align: center;
    flex: 2;
}

textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.404);
    border: none;
    }
     
    input:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.404); 
    border: none; 
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.404);  
    border: none;
    }
     
    input:-ms-input-placeholder {  
    color: rgba(255, 255, 255, 0.404); 
    border: none;
    }

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.404);
    border: none;
    }
     
    input:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.404); 
    border: none; 
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.404);  
    border: none;
    }
     
    input:-ms-input-placeholder {  
    color: rgba(255, 255, 255, 0.404); 
    border: none;
    }

/* LOGIN PAGE ENDS */

/* Header for the top bar */
header {
    background-color: var(--header-BG-color);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    box-shadow: black 2px 2px 2px;
}

/* Logo Section */
#logo {
    background-color: var(--logo-BG-color);
    float: left;
    text-align: center;
    color: white;
    
    width: auto;
    height: 100%;
    flex-basis: 10%;
}
h1.logo {
    position: relative;          /* Used to center DIV vertically */
    top: 50%;
    transform: translateY(-100%);
}

/* Project Selection */
div.project-selector {

    flex-basis: 5%;
}

div.new-project {
    position: relative;          /* Used to center DIV vertically */
    top: 50%;
    transform: translateX(225%) translateY(-40%);

    border: none;
    width: auto;
    height: 4vh;
    color: white;
}

div.new-project > a > button {
    background: var(--search-BG-color);
    border: none;
    color: white;
    height: auto;
    width: auto;
}

#project_selector {
    position: relative;          /* Used to center DIV vertically */
    top: 50%;
    transform: translateX(50%) translateY(35%);

    background: var(--search-BG-color);
    border: none;
    width: auto;
    height: 4vh;
    color: white;
}

/* Search Section */
#search {
    background-color: var(--search-BG-color);
    color: white;

    width: 100%;
    height: 80%;

    position: relative;          /* Used to center DIV vertically */
    top: 50%;
    transform: translateY(-50%);
    
    margin: 0 auto;
    display: block;
    flex-basis: 40%;
}

/* User Section */
#user {
    background-color: var(--header-BG-color);
    color: white;
    text-align: center;

    width: auto;
    height: 100%;
    
    border: none;
    flex-basis: 10%;
}

#userHello {
    line-height: 0.5px;
    
}

#signout {
    background-color: var(--header-BG-color);
    color: black;

    width: auto;
    height: 100%;
    
    border: none;
    flex-basis: 10%;
}

div.to-do-container-wrapper {
    width: 45%;
    height: 60px;
    flex-basis: 70%;
}

div.completed-container-wrapper {
    width: 45%;
    height: 60px;
    flex-basis: 20%;
}

/* Container */
div.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    height: 65vh;
    margin-top: 10px;
    clear: both;
}

.headerTitle /* header title for the boxes */
{
    text-align: center;
    height: 5px;
}

div.box-1 { /* To DO */
    background: var(--box-BG-color);
    flex-basis: 80%;
    height: 65vh;
    clear: both;
    overflow: auto;
    border: white solid 2px;
}

div.box-3 { /* Completed */
    background: var(--box-BG-color);
    flex-basis: 20%;
    height: 75vh;
    overflow: auto;
    border: white solid 2px;
}

/* TASKS */
div.item {
    margin: 8px;
    padding: 2px;
    background: var(--task-BG-color);
    box-shadow: black 2px 2px 1px;
    color: rgb(14, 14, 14);
}
/* Task Title */

div.title-wrapper {
    display: flex;
    flex-direction: row;
}

div.task-title {
    flex-basis: 70%;
}

h1.taskTitle {
    font-size: 20px;
    width: 50%;
}

/* Task Priority */
div.task-priority {
    flex-basis: 30%;
}

p.task-priority {
    text-align: center;
}

hr.taskTitle {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, rgb(48, 48, 48), #333, rgb(48, 48, 48));
}

/* BUTTONS!!! */
div.addItem {
    margin-top: auto;
    display: flex;
    flex-flow: column nowrap;
}

button.add-item-button {
    background: #E95378;
    border: none;
    color: white;
    width: 100%;
    margin-top: 20px;
}

button.signout {
    width: 100%;
    height: 60px;

    font-size: 28px;
    background: var(--header-BG-color);
    border-style: none;
    color: white;

    float: left;
}

button.signout:hover {
    background: rgba(0, 0, 0, 0.486);
    cursor: pointer;
}

button {
    height: 40px;
    width: 100%;
    font-size: 28px;
}

/* Adding Items */

form.add-item {
    width: 100%;
    height: auto;
    background: var(--header-BG-color);
}

form.add-item > input {
    font-size: 2em;
    color: white;

    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    border-color: white;
    margin-bottom: 4px;
}

form.add-item > select {
    background: var(--search-BG-color);
    border: none;
    width: auto;
    height: 4vh;
    color: white;
}

form.add-item > button {
    background: #E95378;
    border: none;
    color: white;
}

/* Adding Item Modal Box */

.modalDialog {
    position: fixed;
    display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
    position: relative;
    display: block;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 2px;
	background: #fff;
	background: var(--header-BG-color);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #E95378; }

textarea.description {
    font-size: 2em;
    color: white;

    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    border-color: white;
    margin-bottom: 4px;
}
