/*
* main.css, this is mainly used for the landing page; including the popup boxes etc.
* Created by Callum-James Smith (cs18804)
*/

:root /* The variables */
 {
  --background-color: #15171d;
  --header-BG-color: rgba(21, 23, 29, 0.9);
  --logo-BG-color: rgba(21, 23, 29, 0.9);
  --search-BG-color: rgba(21, 23, 29, 0.9);
  --box-BG-color: #ebebeb00;
  --button-BG-color: #e95678;
  --button-hover-color: rgba(233, 86, 120, 0.39);
  --task-BG-color: #ebebeb;
  --task-overdue: #720b23;
  --task-high: #c70f3a;
  --task-medium: rgb(223, 77, 111);
  --input-focus: #3fdaa4;
  --button-submit: #3fc4de;
}
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

@font-face {
  font-family: "Fira Code";
  src: url("eot/FiraCode-Light.eot");
  src: url("fonts/eot/FiraCode-Light.eot") format("embedded-opentype"),
    url("fonts/woff2/FiraCode-Light.woff2") format("woff2"),
    url("fonts/woff/FiraCode-Light.woff") format("woff"),
    url("fonts/ttf/FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", "Source Code Pro";
  background-color: var(--background-color);
  color: white;
}

/* LOGIN/Sign up PAGE */

form#LoginForm input:focus 
/* When the login form and signup form inputs are hovered over */
 {
  width: 340px;
  border-color: var(--input-focus);
  transition: 0.25s;
}

form#LoginForm button#signin-button {
  float: left;
  clear: both;
}

#signin-button {
  width: 100%;
  background: var(--background-color);
  height: 50px;
  margin: 0 none;
  padding: 0 none;
  border: none;
  color: white;
  text-align: center;
}
#signin-button:hover {
  background: rgba(0, 0, 0, 0.486);
  cursor: pointer;
}

/* Footer */
footer {
  width: 100%;
  height: 80px;
  background: var(--header-BG-color);
  box-shadow: black 0 -4px 4px -4px;

  z-index: 99;
  position: absolute;
  bottom: 0;
}

footer > pre {
  text-align: center;
  transform: translateY(50%);
}

/* This changes the colour of the placeholder text */
textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.404);
  border: none;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.404);
  border: none;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.404);
  border: none;
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.404);
  border: none;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.404);
  border: none;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.404);
  border: none;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.404);
  border: none;
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.404);
  border: none;
}

/* LOGIN PAGE ENDS */

/* Header for the top bar */
header {
  background-color: var(--header-BG-color);
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  box-shadow: black 2px 2px 2px;
}

/* Logo Section */
#logo 
/* This holds the logo (.logo) in place */
 {
  background-color: var(--logo-BG-color);
  float: left;
  text-align: center;
  color: white;

  width: auto;
  height: 100%;
  flex-basis: 5%;
  float: left;
}
.logo 
/* The logo inside the header */
 {
  height: 40px;
  width: 200px;
  overflow: hidden;
  float: left;
  transform: translateY(8px) translateX(10px);
}

/* Project Selection */
div.project-selector {
  flex-basis: 10%;
  height: 100%;
  transform: translateX(30px);
}

div.project-selector > form {
  height: 100%;
  text-align: center;
}

div.project-selector > form > select > option {
  background: var(--header-BG-color);
  border: none;
  line-height: 4px;
  font-size: 14px;
}

div.new-project /* This holds two buttons used to add and remove projects */
 {
  position: relative; /* Used to center DIV vertically */
  top: 50%;
  transform: translateX(100%) translateY(-100%);

  border: none;
  width: auto;
  height: 20px;
  color: white;
}

div.new-project > a > button,
div.new-project > form > a > button {
  background: var(--search-BG-color);
  border: none;
  color: white;
  text-align: center;
  height: 100%;
  width: 25px;
  font-size: 14px;
  float: left;
}
div.new-project > a > button:hover {
  transition: ease-in 0.2s;
  background: var(--button-hover-color);
}

#project_selector {
  position: relative; /* Used to center DIV vertically */
  top: 50%;

  background: var(--search-BG-color);
  border: none;
  width: auto;
  height: 30px;
  color: white;
  transform: translateY(-15px);
}

#project_selector:hover {
  background: var(--button-hover-color);
}

#project_selector::selection {
  border: none;
  transition: ease-in 0.2s;
}

/* User Section */
#user {
  background-color: var(--header-BG-color);
  color: white;
  text-align: center;

  width: 20%;
  height: 100%;

  border: none;
  flex-basis: 80%;
  float: right;
}

#userHello {
  line-height: 0.5px;
  transform: translateY(-10px);
  float: right;
}

#signout {
  background-color: #e95678;
  color: black;

  width: auto;
  height: 100%;
  float: right;

  border: none;
  flex-basis: 10%;
}

#account {
  background-color: #3fc4de;
  color: black;

  width: auto;
  height: 100%;
  float: right;

  border: none;
  flex-basis: 10%;
}

div.to-do-container-wrapper {
  width: 45%;
  flex-basis: 70%;
}

div.completed-container-wrapper {
  width: 45%;
  height: 60px;
  flex-basis: 20%;
}

/* Container */
div.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.headerTitle 
/* header title for the boxes */
 {
  text-align: center;
  height: 5px;
}

div.sorting {
  width: 100%;
  height: 30px;
  background: green;
  text-align: left;
  margin-top: -10px;
}

div.sorting > p {
  text-align: center;
}

div#sorting {
  float: left;
  width: 25px;
  text-align: center;
  height: 20px;
  display: block;
  transform: translateX(-30px) translateY(50px);
}

div#sorting > form > button {
  text-align: center;
  background: none;
  border: none;
  color: var(--button-submit);
  cursor: pointer;
  margin-bottom: 80px;
}

div#sorting > form > button:hover {
  transition: ease-in 0.2s;
  background: rgba(63, 196, 222, 0.8);
}

div.box-1 {
  /* To DO */
  background: var(--box-BG-color);
  flex-basis: 80%;
  height: 80vh;
  clear: both;
  overflow: auto;
  padding: 4px;
  border: white solid 2px;
}

div.box-3 {
  /* Completed */
  background: var(--box-BG-color);
  flex-basis: 20%;
  height: 80vh;
  overflow: auto;
  padding: 4px;
  border: white solid 2px;
}

/* TASKS */
div.item {
  margin: 8px;
  padding: 4px;
  background: var(--task-BG-color);
  box-shadow: black 2px 2px 1px;
  color: rgb(14, 14, 14);
}

div.item-overdue {
  margin: 8px;
  padding: 4px;
  background: var(--task-BG-color);
  box-shadow: black 2px 2px 1px;
  border: solid var(--task-overdue) 4px;
  color: rgb(14, 14, 14);
}

div.item-high {
  margin: 8px;
  padding: 4px;
  background: var(--task-BG-color);
  box-shadow: black 2px 2px 1px;
  border: solid var(--task-high) 2px;
  color: rgb(14, 14, 14);
}

div.item-medium {
  margin: 8px;
  padding: 4px;
  background: var(--task-BG-color);
  box-shadow: black 2px 2px 1px;
  border: solid var(--task-medium) 2px;
  color: rgb(14, 14, 14);
}
/* Task Title */

div.title-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

div.task-title {
  flex-basis: 70%;
}

h1.taskTitle {
  font-size: 20px;
  width: 50%;
}

/* Task Priority */
div.task-priority {
  flex-basis: 30%;
}

p.task-priority {
  text-align: center;
}

hr.taskTitle {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(
    to right,
    rgb(66, 66, 66),
    #333,
    rgb(24, 24, 24)
  );
}

/* BUTTONS!!! */
button {
  height: 40px;
  width: 100%;
  font-size: 28px;
}

div.addItem,
div.editItem {
  /* The holder for the add item button */
  margin-top: auto;
  display: flex;
  flex-flow: column nowrap;
}

button.add-item-button {
  /* The button itself */
  background: var(--button-BG-color);
  cursor: pointer;
  border: none;
  color: white;
  width: 100%;
  margin-top: 20px;
}

button.add-item-button:hover {
  /* When the button is hovered over */
  background: var(--button-hover-color);
  transition: ease-in 0.2s;
}

button.signout {
  /* The button located on the header thats allows the user to sign out */
  width: 100%;
  height: 60px;

  font-size: 20px;
  background: var(--header-BG-color);
  border-style: none;
  color: white;

  float: left;
}

button.signout:hover {
  /* When it's hovered over */
  background: rgba(0, 0, 0, 0.486);
  cursor: pointer;
}

span.complete-task {
  float: right;
  width: auto;
  height: auto;
  background: transparent;
  border: none;
}

div.task-date-time {
  flex-basis: 80%;
  width: 80%;
  padding-top: 8px;
}

div.c-button-holder {
  float: right;
  flex-basis: 20%;
  width: 20%;
}

button.complete-buttons {
  width: 40px;
  color: #29d398;
  float: right;
  display: block;
  background: transparent;
  border: none;
  transform: translateY(-35px);
}

/* Undo button */
div.u-button-holder {
  float: right;
  flex-basis: 20%;
  width: 20%;
}

button.undo-buttons {
  width: 40px;
  color: #29d398;
  float: right;
  display: block;
  background: transparent;
  border: none;
  transform: translateY(-35px);
}

button.complete-buttons:hover {
  transition: ease-in 0.2s;
  color: rgba(41, 211, 151, 0.651);
  cursor: pointer;
}

button.undo-buttons:hover {
  transition: ease-in 0.2s;
  color: rgba(41, 211, 151, 0.651);
  cursor: pointer;
}

/* Adding Items */

form.add-item {
  width: 100%;
  height: auto;
  background-color: transparent;
}

form.edit-item {
  width: 100%;
  height: 100%;
  background: var(--header-BG-color);
}

form.add-item > input[type="date"],
form.add-item > input[type="time"] {
  font-size: 2em;
  color: white;
  width: 35%;

  border-style: solid;
  border-width: 0px 0px 1px 0px;
  background: transparent;
  border-color: white;
  margin-bottom: 12px;
}

form.add-item > input {
  font-size: 2em;
  color: white;
  width: 100%;

  border-style: solid;
  border-width: 0px 0px 1px 0px;
  background: transparent;
  border-color: white;
  margin-bottom: 20px;
}

form.add-item > textarea {
  font-size: 2em;
  color: white;
  width: 100%;

  border-style: solid;
  border-width: 0px 0px 1px 0px;
  background: transparent;
  border-color: white;
  margin-bottom: 4px;
}

form.edit-item > input {
  font-size: 2em;
  color: white;

  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  background: var(--header-BG-color);
  border-color: white;
  margin-bottom: 4px;
}

form.add-item > select,
form.edit-item > select {
  background: var(--search-BG-color);
  border: none;
  border-bottom: #ebebeb 1px solid;
  width: auto;
  height: 4vh;
  margin-bottom: 12px;
  color: white;
}

form.edit-item > button {
  background: var(--button-BG-color);
  border: none;
  color: white;
  cursor: pointer;
}

form.edit-item > button:hover {
  transition: ease-in 0.2s;
  background: var(--button-hover-color);
  cursor: pointer;
}

form.add-item > button {
  background: var(--button-BG-color);
  border: none;
  color: white;
  cursor: pointer;
}

form.add-item > button:hover {
  transition: ease-in 0.2s;
  background: var(--button-hover-color);
  cursor: pointer;
}

/* Adding Item Modal Box */

.modalDialog {
  position: fixed;
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  display: block;
  pointer-events: auto;
}

.modalDialog > div {
  width: 40%;
  position: relative;
  margin: 0 auto;
  transform: translateY(-20%);
  display: block;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 2px;
  background: #fff;
  background: var(--header-BG-color);
}

.modalDialog > div > form {
    width: auto;
    height: 100%;
}

.close {
  background: #29d398;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  border: #29d398 2px solid;
  border-radius: 48px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  transition: 0.3s;
  background: #3fc4de;
  border: #3fc4de 2px solid;
}

textarea.description {
  font-size: 2em;
  color: white;

  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: white;
  margin-bottom: 4px;
}

.edit-buttons {
  background: transparent;
  border: none;
}

.edit-buttons:hover {
  background: transparent;
  border: none;
  cursor: pointer;
}

.edit-buttons i {
  color: var(--button-BG-color);
  font-size: 1em;
}

.edit-buttons i:hover {
  transition: ease-in 0.2s;
  color: var(--button-hover-color);
  font-size: 1em;
}

/* Media Controls */
@media screen and (max-width: 636px) /* when the screen reaches less than 635px */ {
  form#LoginForm {
    height: 60vh;
    width: 100%;
  }

  form#LoginForm input {
    margin: none;
    width: 100%;
  }

  form#LoginForm > button {
    transform: translateX(50px);
  }

  form#LoginForm button#signin-button {
    float: none;
  }

  form#LoginForm button#signup-button {
    float: none;
  }
}

@media screen and (max-width: 1266px) {
  #userHello {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #search {
    display: none;
  }
  #logo {
    flex-basis: 80%;
  }
}
