:root {
    --header-BG-color: #28467b;
    --logo-BG-color: #363b43;
    --search-BG-color: rgba(24, 24, 24, 0.349);
    --box-BG-color: #ebebeb;

    --box-width: 31%;
    --box-height: 90%;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: var(--header-BG-color);
    width: 100%;
    height: 60px;
}

/* Logo Section */
#logo {
    background-color: var(--logo-BG-color);
    float: left;
    text-align: center;
    color: white;
    
    width: 125px;
    height: 100%;
}

/* Search Section */
#search {
    background-color: var(--search-BG-color);
    color: white;

    width: 500px;
    height: 80%;
    
    position: relative;          /* Used to center DIV vertically */
    top: 50%;
    transform: translateY(-50%);
    
    margin: 0 auto;
    display: block;
}

/* Main element holder */
div.main {
    width: 100%;
    height: 90.4vh; /* It's odd, I know */
}

/* Boxes-Global */
.box-header {
    width: 100%;
    height: 40px;
    color: black;
    display: block;

    border-bottom: #363b43 solid 1px;
}

div.container {
    width: 96%;
    height: 450px;
    clear: left;


    position: absolute;          /* Used to center DIV vertically */
    top: 50%;
    transform: translateY(-45%);

    border: #363b43 solid 1px;
}

/* Left Box 'To Do' */
#left-box {
    background-color: var(--box-BG-color);

    width: var(--box-width);
    height: var(--box-height);
    display: inline-flex;
    justify-items: left;
    margin-left: 20px;
    padding: 4px;

    position: relative;          /* Used to center DIV vertically */
    top: 50%;
    transform: translateY(-50%);
}

/* Right Box 'In Progress' */
#middle-box {
    background-color: var(--box-BG-color);

    width: var(--box-width);
    height: var(--box-height);
    display: inline-flex;
    justify-items: center;
    margin-right: 3px;
    margin-left: 3px;
    padding: 4px;

    position: relative;          /* Used to center DIV vertically */
    top: 50%;
    transform: translateY(-50%);
}

/* Right Box 'Completed' */
#right-box {
    background-color: var(--box-BG-color);

    width: var(--box-width);
    height: var(--box-height);
    display: inline-flex;
    justify-items: right;
    margin-right: 3px;
    padding: 4px;

    position: relative;          /* Used to center DIV vertically */
    top: 50%;
    transform: translateY(-50%);
}