/*
signup.css
Created by: Callum-James Smith (cs18804)
For the signup page
*/

:root /* The variables */
 {
  --background-color: #15171d;
  --header-BG-color: rgba(21, 23, 29, 0.9);
  --logo-BG-color: rgba(21, 23, 29, 0.9);
  --search-BG-color: rgba(21, 23, 29, 0.9);
  --box-BG-color: #ebebeb00;
  --button-BG-color: #e95678;
  --button-hover-color: rgba(233, 86, 120, 0.39);
  --task-BG-color: #ebebeb;
  --task-overdue: #720b23;
  --task-high: #c70f3a;
  --task-medium: rgb(223, 77, 111);
  --input-focus: #3fdaa4;
  --button-submit: #3fc4de;
}
/* Fonts */

@font-face {
  font-family: "SF-UI-Text-Regular";
  src: url("fonts/otf/SF-UI-Text-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "SF-UI-Text-Regular", "Sans Serif";
  background-color: var(--background-color);
  color: white;
}

/* SIGN UP FORM */
form#SignupForm /* This is the sign page form */
 {
  width: 100%;
  height: 90vh;
  padding-top: 10vh;
  text-align: center;

  display: grid;
  grid-template-areas: 
  "inputs"
  "buttons";
  grid-template-columns: 100%;
  grid-template-rows: 10% 15%;
}

form#SignupForm h1 /* The H1 inside the form */
 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

form#SignupForm input /* The inputs inside the form */
 {
  grid: inputs;
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid var(--button-BG-color);
  padding: 14px 10px;
  width: 25%;
  outline: none;
  color: white;
  border-radius: 22px;
  transition: 0.2s;
}

.signup-button,
.return-button {
  grid: buttons;
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid var(--button-submit);
  width: 150px;
  margin: 0 auto;
  font-size: 18px;
  outline: none;
  color: white;
  border-radius: 28px;
  transition: 0.2s;
  padding: 8px;
}

form#SignupForm input:focus 
/* When the login form and signup form inputs are hovered over */
 {
  width: 340px;
  border-color: var(--input-focus);
  transition: 0.25s;
}

.signup-button:hover,
.return-button:hover {
  background: rgba(0, 0, 0, 0.486);
  width: 160px;
  cursor: pointer;
}

#SignupForm > p > a {
  font-style: none;
  color: white;
}

#SignupForm > p > a:hover {
  transition: ease-out 0.2s;
  color: rgba(218, 218, 218, 0.808);
}

/* Media Controls */
@media screen and (max-width: 636px) /* when the screen reaches less than 635px */ {
  form#SignupForm {
    height: 60vh;
    width: 80%;
  }

  form#SignupForm > input {
    margin: none;
    width: 100%;
  }

  form#SignupForm button#signup-button {
    transform: translateX(65%);
  }
}
